body {
    font-family: Arial, sans-serif;
    margin: 1;
    padding: 0;
    background-color: #fcfcfc;
}

.nav-bar {
    margin: 30px auto;
    background-color: #a12d2f;   /* deep red */
    color: white;
    width: 80%;                 /* full width or use fixed like 800px */
    height: 50px;                /* fixed height */
    border: 2px solid #7a1f22;   /* dark red border */
    border-radius: 60px;         /* rounded corners */
    display: flex;
    align-items: center;         /* vertical centering */
    justify-content: center;   
    padding: 0px auto;             /* space inside */

}

.nav-bar a {
    color: #030303;
    font-family: 'Trebuchet MS';
    text-decoration: none;
    padding: 10px 15px;
}

.nav-bar a:hover {
    background: #b9821a;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

footer {
    background: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

h1, h2, h3 {
    color: #35424a;
}

form {
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background: #35424a;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #e8491d;
}